<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.dao.IAlluserDao">
<select id="alluser_list" parameterType="map" resultType="map">
select * from customer where   customer_name like '%${text}%'
 limit ${start} ,${limit}
</select>

<select id="alluser_list_total" parameterType="map" resultType="int">
select count(*) from customer where customer_name like '%${text}%'
</select>
</mapper>